<% provide(:title, "#{SITE_NAME} | 注册") %>
<% content_for :javascript do %>
<script>
$(document).ready(function() {
  $("#user_terms").each(function(){
    if($("#user_terms").is(':checked')) {
      $("#signup_btn").removeClass('disabled');
    } else {
      $("#signup_btn").addClass('disabled');
    }
  });
  $("#user_terms").click(function(){
    if($(this).is(":checked")){
      $("#signup_btn").removeClass("disabled");
    }else{
      $("#signup_btn").addClass("disabled");
    }
  })
});
</script>
<% end %>
<%= content_for(:the_links) do %>
  认真阅读并同意我们的<%= link_to "使用协议", terms_path%>
<% end %>
<div class = "row sign-container">
	<div class = "col-md-6 col-md-offset-3" >
		<div id = "sign-box">
			<div class = "row">
				<div class = "col-md-6" >
					<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
						<%= render 'shared/error_messages', object: resource %>
						<%= f.input :email, :required => false, :autofocus => true, label_html: {style: "display: none;"}, input_html: { placeholder: "邮箱", class: "form-control" }, wrapper_html: { class: "form-group col-md-offset-2 col-md-9" } %>
						<%= f.input :username, :required => false, label_html: {style: "display: none;"}, input_html: { placeholder: "用户名", class: "form-control" }, wrapper_html: { class: "form-group col-md-offset-2 col-md-9" } %>
							<%= f.input :password, :required => false, label_html: {style: "display: none;"}, input_html: { class: "form-control", placeholder: "密码"}, wrapper_html: { class: "form-group col-md-offset-2 col-md-9" } %>
							<%= f.input :password_confirmation, :required => false, label_html: {style: "display: none;"}, input_html: { class: "form-control", placeholder: "确认密码" }, wrapper_html: { class: "form-group col-md-offset-2 col-md-9" } %>
						<div class = "form-group">
                          <%= f.input :terms, :as => :boolean, :label => content_for(:the_links), wrapper_html: { class: "checkbox col-md-offset-2 col-md-9"} %> 
						</div>
						<div class = "form-group">
							<div class = "col-md-offset-2 col-md-9">
								<%= f.button :submit, "注册", id: "signup_btn", class: "btn btn-primary btn-block" %>
							</div>
						</div>
					<% end %>
				</div>
	  		<div class = "col-md-1"><div class = "divider"></div></div>

				<div class = "col-md-5">
					已经有Slideonline账户？直接
					<%= link_to "登录", new_session_path(resource_name), {style: "color: #3276b1;"} %><br />
				</div>
		  </div>
		</div>
	</div>
</div>
