<div id = "comment-form">
	<%= simple_form_for(@comment, :remote => true) do |f| %>
		<%= f.input :comment, as: :text, input_html: {class: "form-control", cols: "50", rows: "3"}, label: false, placeholder: "评论前请先登录或注册，评论请不要超过600字"%>
		<%= f.input :commentable_id, as: :hidden, value: @comment.commentable_id, label: false %>
		<%= f.input :commentable_type, as: :hidden, value: @comment.commentable_type %>
		<%= f.button :submit, "发表评论",  id: "post-comment", class: "comment-label", data: {disable_with: "处理中..."} %>
	<% end %>
</div>
