<div class = "row">
  <div class = "col-md-offset-3 col-md-6">
    <div class = "col-md-offset-3 col-md-6">
      <h3>更改密码</h3>
    </div>
    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= render 'shared/error_messages', object: resource %>

    <%= f.input :reset_password_token, :as => :hidden %>

    <%= f.input :password, :label => "新密码", :required => false, :autofocus => true, label_html: {style: "display: none;"},input_html: { class: " form-control",placeholder: "新的密码" }, wrapper_html: { class: "col-md-offset-3 col-md-6 form-group" }%>
    <%= f.input :password_confirmation, :label => "确认新密码", :required => false,label_html: {style: "display: none;"},input_html: { class: " form-control",placeholder: "确认新密码" }, wrapper_html: { class: "col-md-offset-3 col-md-6 form-group" }%>

    <div class="form-group ">
      <div class = "col-md-offset-3 col-md-6">
        <%= f.button :submit, "重置密码", class: "btn btn-primary btn-block" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
