<% provide(:title, "#{SITE_NAME}") %>
<% content_for :javascript do %>
	<script>
		$(document).ready(function() {
			$("#tech").carouFredSel(
				{
					circular : false,
					infinite : false,
					width : "100%",	
					auto	: false,
					items : {
						visible: 4,
						minimum: 5
					},
					prev	: "#tech_prev",
					next  : "#tech_next"
				},
				{ 
					 wrapper  : "parent"
				});
			$("#food").carouFredSel(
				{
					circular : false,
					infinite : false,
					width : "100%",	
					auto	: false,
					items : {
						visible: 4,
						minimum: 5
					},
					prev	: "#food_prev",
					next  : "#food_next"
				},
				{ 
					 wrapper  : "parent"
				});
			$("#book").carouFredSel(
				{
					circular : false,
					infinite : false,
					width : "100%",	
					auto	: false,
					items : {
						visible: 4,
						minimum: 5
					},
					prev	: "#book_prev",
					next  : "#book_next"
				},
				{ 
					 wrapper  : "parent"
					 //element     : "figure",
					 //classname   : "col-md-10"
				});
		});
  </script>
<% end %>
<% cache('index_all_category', expires_in: 12.hours) do %>
	<% Category.all.each do |c| %>
		<% if c.powerpoints.count > 0 %>
			<div class = "cate-header">
				<a href="/c/<%= c.id%>"><%= c.name %><span class = "badge adjust"><%= c.powerpoints.count %></span></a>
			</div>
			<div class = "image_carousel">
				<div id = "<%= c.nickname %>"</div> 
					<%= render partial: "powerpoints/powerpoint", collection: c.powerpoints.limit(16) %>
				</div>
				<a class="prev" id="<%= c.nickname %>_prev" href="#"><span>prev</span></a>
				<a class="next" id="<%= c.nickname %>_next" href="#"><span>next</span></a>
				<div class = "clearfix"></div>
			</div>
		<% end %>
	<% end %>
<% end %>
