<% provide(:title, "#{SITE_NAME} | 登录") %>
<div class = "row sign-container">
	<div class = "col-md-6 col-md-offset-3" >
		<div id = "sign-box">
			<div class = "row">
				<div class = "col-md-6" >
					<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name) ) do |f| %>
            <%= render 'shared/flash_messages', object: resource %>
						<%= f.input :email, :required => false, :autofocus => true, label: "邮箱", label_html: {style: "display: none;"},input_html: { class: " form-control",placeholder: "邮箱" }, wrapper_html: { class: "col-md-offset-2 col-md-9 form-group" } %>
						<%= f.input :password, :required => false, label: "密码", label_html: {style: "display: none;"}, input_html: { class: "form-control",placeholder: "密码" }, wrapper_html: { class: "col-md-offset-2 form-group col-md-9" } %>
							<div class = "form-group" style = "display: inline">
								<%= f.input :remember_me, label: "下次自动登录", wrapper_html: { class: "checkbox remember col-md-offset-2 col-md-5" }, :as => :boolean  if devise_mapping.rememberable? %>
							<div class = "col-md-offset-1 col-md-3">
								<%= link_to "忘记密码?", new_password_path(resource_name), {style: "color: #3276b1;"} %>
							</div>
							</div>

						<div class="form-group ">
							<div class = "col-md-offset-2 col-md-9">
								<%= f.button :submit, "登录", class: "btn btn-primary btn-block" %>
							</div>
						</div>
					<% end %>
				</div>
 
	  		<div class = "col-md-1"><div class = "divider"></div></div>
	  	

				<div class = "col-md-5">
					还没有TagSlide的账户？快
					<%= link_to "加入", new_registration_path(resource_name), {style: "color: #3276b1;"} %>TagSlide吧！<br />
					<p>注册了TagSlide的帐号后，您就可以收藏喜欢的幻灯片，对幻灯片进行评价啦。</p>
				</div>
		  </div>
		</div>
	</div>
</div>
