<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title) %></title>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= favicon_link_tag 'favicon.png' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/flash_messages' %>
<header class="navbar navbar-static-top navbar-color" role="banner">
	<%= render :partial => "shared/nav" %>
</header>
<%= yield %>

<!-- easing plugin ( optional ) -->
<%= javascript_include_tag "easing", "data-turbolinks-track" => true %>
<!-- UItoTop plugin -->
<%= javascript_include_tag "jquery.ui.totop", "data-turbolinks-track" => true %>
<!-- Starting the plugin -->
<script type="text/javascript">
  $(document).ready(function() {
		$().UItoTop({ easingType: 'easeOutQuart' });
	});
</script>
<!-- Bshare Button BEGIN -->
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/button.js#style=-1&amp;uuid=&amp;pophcol=1&amp;lang=zh"></script>
<a class="bshareDiv" onclick="javascript:return false;"></a>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
<!-- bshare Button END -->
</body>
</html>
