<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title) %></title>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="/assets/jquery_ujs.js"></script>
	<%= yield :javascript %>
  <link   href="/assets/tagslide.css" media = "all" rel = "stylesheet">
	<link type="image/vnd.microsoft.icon" rel="shortcut icon" href="/assets/favicon.png">
	<%= yield :meta %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/flash_messages' %>
<header class="navbar navbar-static-top navbar-color" role="banner">
	<%= render :partial => "shared/nav" %>
</header>
<%= yield %>

<script src="/assets/up-to-top.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
		$().UItoTop({ easingType: 'easeOutQuart' });
	});
</script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/button.js#style=-1&amp;uuid=&amp;pophcol=1&amp;lang=zh"></script>
<a class="bshareDiv" onclick="javascript:return false;"></a>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
</body>
</html>
